<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= book.title%></title>
</head>
<body>
    <nav><a href="/books/new">Add a new book</a>
        <a href="/books">browse all book</a>
        <a href="/">home page</a></nav>
    <h1>Welcome to My Books Application!</h1>
    <h2>this is the page to see particular details about a certain book</h2>
    <p>The book name is <strong><%= book.title %></strong> by <%= book.author %>.</p>
    <p>Its average rating is <%= book.rating%> out of 5 stars. It was first published by [<%= book.publisher%>] in <%= book.yearPublished%> and that edition has <strong><%= book.noOfPages%></strong> pages.</p>
   <% if (book.readYet === true){%>
        <p>You read this book !</p>
   <% }else{%>
        <p>You have yet to read this book!</p>
   <% }%>
</body>
</html>